# Object file
*.o

# Ada Library Information
*.ali

.venv
.env
.vscode
*.pyc
__pycache__/

# knowledge_base/
pred/

data/raw-data/
data/curated-data/

.python-version
pyproject.toml
uv.lock

logs/
results/
docs/

# .secret